.tianjiaguaiwu {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 110px;
	height: 30px;
	margin: -15px 0 0 -130px;
}

.fanhuishengmocuncunkou {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 110px;
	height: 30px;
	margin: -15px 0 0 20px;
}

body {
	background: url("/RPG/image/guanliyuanmoshi/fangdongzuo.png");
}